if (folders !== null)
	for folder in folders
		table
			thead
				tr
					th Ordnername
			tbody
				tr
					td #{folder.file}

if (files !== null)
	for file in files
		table
			thead
				tr
					th Name
					th Typ
					th Titel
					th Interpret
					th Jahr
					th Track
			tbody
				tr
					td #{file.name}
					td #{file.type.toLowerCase()}
					td #{file.meta ? file.meta.tile : '-/-'}
					td #{file.meta ? file.meta.artist : '-/-'}
					td #{file.meta ? file.meta.year : '-/-'}
					td #{file.meta ? file.meta.track : '-/-'}
