if (folders != null || files != null)
	if (folders != null)
		table.table.table-striped
			thead
				tr
					th Ordnername
			tbody
				for folder in folders
					tr
						td(data-path=folder.path) #{folder.file}
	
	if (files != null)
		table.table.table-striped
			thead
				tr
					th Name
					th Typ
					th Titel
					th Interpret
					th Jahr
					th Track
			tbody
				for file in files
					tr(data-path=file.path, data-stream='true')
						td #{file.name}
						td #{file.type.toLowerCase()}
						td #{file.meta ? file.meta.title : '-/-'}
						td #{file.meta ? file.meta.artist : '-/-'}
						td #{file.meta ? file.meta.year : '-/-'}
						td #{file.meta ? file.meta.track : '-/-'}
else
	table.table.table-striped
		thead
			tr
				th NIX
		tbody
				tr
					td -/-
